<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      多嘉喜の部屋
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        満子様
      </div>
      <div class="message-date">
        マジで恋する5秒前
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        tinpotinpo
      </div>
    </div>
  </div>
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        サモ・ハン・チンポー
      </div>
      <div class="message-date">
        快感の最中
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        manpomanpo
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input placeholder="type a message" class="form-message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="form-submit">
</div>
