<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Takaki</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">多嘉喜の部屋</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">オメコハイボール</a>
    </div>
  </div>
</div>